.root {
    -fx-background-color: #343642;
    -fx-text-fill: #F2EBC7;
}

#createButton {
    -fx-background-color: #962D3E;
    -fx-text-fill: #F2EBC7;
    -fx-background-radius: 20;
}

#listView {
    -fx-background-color: #F2EBC7;
}

#textLabel {
    -fx-text-fill: #F2EBC7;
}
